@model DudiGames.Models.ViewModel.CompraViewModel
@{
    ViewData["Title"] = "Deletar";
}

<h2>@ViewData["Title"]</h2>

<h4>Vc realmente deseja deletar?</h4>
<hr />
<div class="row">
    <h4>Compra</h4>
    <hr />
    @Html.HiddenFor(model=>model.Id)
    <dl class="dl-horizontal">
        <dt>.
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCompra)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProduto)

        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
