@model DudiGames.Models.ViewModel.CompraViewModel
@{
    ViewData["Title"] = "Detalhar";
}

<h2>@ViewData["Title"]</h2>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.HiddenFor(x => x.Id)
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">

            @Html.LabelFor(model => model.DataCompra, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.DataCompra, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.DataCompra, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.NomeProduto, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.NomeProduto, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.Quantidade, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.ValorCompra, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.ValorCompra, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.ValorCompra, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.ValorTotalCompra, htmlAttributes: new { @class = "control-label" })

            @Html.DisplayFor(model => model.ValorTotalCompra, new { htmlAttributes = new { @class = "control-label" } })
            @Html.ValidationMessageFor(model => model.ValorTotalCompra, "", new { @class = "text-danger" })
        </div>



        <div class="form-group">
            @Html.ActionLink("Editar", "Edit", "Compras", new { @id = Model.Id })
        </div>
        @Html.ActionLink("Voltar", "Index", "Compras", new { htmlAttributes = new { @class = "btn btn-primary" } })

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}